.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .photo{
    width: 300px;
    heigth: 300px;
    border-radius: 50%;
}

.header .title {
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p {
    margin: .5rem;
    font-size: 1.25rem;
}

.information i {
    width: 1rem;
    heigth: 1rem;
    display: inline-block;
    margin-right: .5rem;
    color: #8B008B ;
}

.information a {
    color: #fff;
    text-decoration: none;
}

.information a:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 768px){
    .header {
        flex-direction: row;
        justify-content: center;
    
    }
     
    .header .photo {
        margin-right: 40px;
    }

    .header .title {
        text-align: start;
        
    }


}